<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lll.beizertest">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LivePerformActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.MyTextViewActivity" />
        <activity android:name=".activity.QQStepViewActivity" />
        <activity android:name=".activity.ColorTrackTextActivity" />
        <activity android:name=".activity.DefineProgressBarActivity" />
        <activity android:name=".activity.DrawShapeActivity" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.LetterSideBarActivity" />
        <activity android:name=".activity.OriginCodeAnalysisActivity" />
        <activity android:name=".activity.TagLayoutActivity" />
        <activity android:name=".activity.TouchViewActivity" />
        <activity android:name=".activity.DrawLayoutActivity" />
        <activity android:name=".activity.RoundImageActivity" />
        <activity android:name=".activity.LogisticsProgressViewActivity" />
        <activity android:name=".activity.VerticalDragViewActivity" />
        <activity android:name=".activity.LuckPatternViewActivity" />
        <activity android:name=".activity.SignaturePadActivity" />
        <activity
            android:name=".activity.StatusBarActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".activity.BehaviorActivity"
            android:theme="@style/NoAction" />
        <activity android:name=".activity.ScreenMenuViewActivity" />
        <activity
            android:name=".activity.CustomViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoadViewActivity" />
        <activity android:name=".activity.RecycleViewHeaderFooterActivity" />
        <activity android:name=".activity.BannerViewPagerActivity" />
        <activity android:name=".activity.ExpendTextViewActivity" />
        <activity android:name=".activity.NavigationBarActivity" />
        <activity android:name=".activity.HttpTestActivity"></activity>
    </application>

</manifest>