<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lll.beizertest">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- //系统轮询需要的权限（设置Service保活） -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LivePerformActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.MyTextViewActivity" />
        <activity android:name=".activity.QQStepViewActivity" />
        <activity android:name=".activity.ColorTrackTextActivity" />
        <activity android:name=".activity.DefineProgressBarActivity" />
        <activity android:name=".activity.DrawShapeActivity" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.LetterSideBarActivity" />
        <activity android:name=".activity.OriginCodeAnalysisActivity" />
        <activity android:name=".activity.TagLayoutActivity" />
        <activity android:name=".activity.TouchViewActivity" />
        <activity android:name=".activity.DrawLayoutActivity" />
        <activity android:name=".activity.RoundImageActivity" />
        <activity android:name=".activity.LogisticsProgressViewActivity" />
        <activity android:name=".activity.VerticalDragViewActivity" />
        <activity android:name=".activity.LuckPatternViewActivity" />
        <activity android:name=".activity.SignaturePadActivity" />
        <activity
            android:name=".activity.StatusBarActivity"
            android:theme="@style/NoAction" />
        <activity
            android:name=".activity.BehaviorActivity"
            android:theme="@style/NoAction" />
        <activity android:name=".activity.ScreenMenuViewActivity" />
        <activity
            android:name=".activity.CustomViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoadViewActivity" />
        <activity android:name=".activity.RecycleViewHeaderFooterActivity" />
        <activity android:name=".activity.BannerViewPagerActivity" />
        <activity android:name=".activity.ExpendTextViewActivity" />
        <activity android:name=".activity.NavigationBarActivity" />
        <activity android:name=".activity.HttpTestActivity" />
        <activity android:name=".activity.DatabaseActivity" />
        <activity android:name=".activity.PictureSelectorActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.CodeInputViewActivity" />
        <activity android:name=".activity.SkinActivity" />
        <activity android:name=".ipc.IPCActivity" />

        <service android:name=".ipc.MessageService">
            <intent-filter>

                <!-- 隐示意图 调用 -->
                <action android:name="com.lll.beizertest.ipc.user" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".ipc.QQMessageService" />
        <!-- 设置多进程 -->
        <service
            android:name=".ipc.GuardService"
            android:process=":guardService" />
        <!-- 注册一个轮询工作Service -->
        <service
            android:name=".ipc.JobWakeupService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ipc.ServiceTestActivity" />
        <activity android:name=".activity.ImageSelectTestActivity" />
        <activity android:name=".activity.JNITestActivity" />
        <activity android:name=".activity.ProxyActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.RxjavaActivity" />
        <activity android:name=".activity.Retrofit2TestActivity" />
        <activity android:name=".activity.ActivityManagerTestActivity"></activity>
    </application>

</manifest>